@model WebApp.Models.PostsFromOne
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Мои посты</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style>
        body {
            background-color: #F1F1F1;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
             color:  #468847;
        }
    </style>
</head>
<body>

    <div class="panel-success">
        <div class="panel-heading text-center">
            <div>
                @Html.ActionLink("Моя страница", "Inbox", null, new { @class = "btn btn-success" })
            </div>
            <h4>Мои посты</h4>
        </div>
    </div>
    <br />

    <ul id="cycle">

        @foreach (var item in Model.Posts)
            {
            <li>
                <div class="panel1 container">

                    
                    <h5>@item.text</h5>
                        
                </div>
            </li>
        }

    </ul>
</body>
</html>