
@model WebApp.Models.TweetWithImgs
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Написание поста</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/scripts/jquery.xgallerify.min.js"></script>
    <style>
      body {
            background-color: #F1F1F1;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
             color: white;
        }
    </style>
</head>
<body>

    <div class="panel-success">
        <div class="panel-heading text-center">
            <div>
                @Html.ActionLink("Моя страница", "Inbox", null, new { @class = "btn btn-success" })
            </div>
            <h4>Здесь нужно писать пост</h4>
        </div>
    </div>
    </br>
    </br>
    <div class="container">
@using (Html.BeginForm("Writer", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <form action="/files/upload" enctype="multipart/form-data" method="post">
        @Html.TextAreaFor(x => x.Tweet.text, new { @class = "form-control" })
        <br />
        <div class="text-center">
            <div class="text-center">
                <input multiple="multiple" name="Imgs" type="file" />
                </div>
                <br />
            <br />
                <input type="submit" value="Испачкать забор" class="btn btn-success" />

            </div>
        </form>
        }
</div>
    
    <script>
        $(document).ready(function () {
            $('.photos').gallerify({
                margin: 10,
                mode: 'default'
            });
        });
    </script>
</body>
</html>